#logo{
    padding: 5px;
}

#main-right{
    border-left: solid 2px #033c73;
}

.search-nav ul{
     list-style: none;
    padding-left: 15px;
    margin-bottom: 5px;
}

.search-nav ul li{
    display: inline-block;
}

.search-nav-list li a{
    font-size: 16px;
    color: #2d6ca2;
    padding: 0px 15px;
}

#search-block .search-active a{
    color: #f57a00;! important
}

#news-info{
    border-bottom: solid 1px #317eac;
}

.news-detail{
    margin-top: 15px;
}

.news-press,.news-time{
    text-align: right;
}

.news-press{
    color: #008000;
}

.news-time{
    color: #888;
}

.news-img,.news-desc{
    height: 100px;
    margin: 5px 0px;
}

.news-img img{
    height: 100px;
    width: 100px;
}


.news-title{
    font-size: 16px;
}

.news-desc-no-image{
    margin: 5px 0px;
}

#paging-block{
    margin:10px 0px;
    text-align: center;
}


.right-block{
    padding: 5px 0px;
    border-bottom: solid 1px #e1e1e8;
}

#news-hot-day,#news-hot-week{
    padding: 10px;
    margin-bottom: 5px;
}
#news-hot-day ul{
    padding-left: 0px;
    list-style: none;
}

#news-hot-week ul{
    padding-left: 0px;
    list-style: none;
}

#image-block img{
    max-width: 100%;
    margin-bottom: 15px;
}

footer {
    background-color: #e6e6e6;
}
.hot-mark{
    background:#f57a00;
    color: #fff;
}

footer ul .footer-links a{
    display: inline-block;
    padding: 0 20px;
    color: #717881 !important;
    font-size: 16px;
}

footer ul .footer-links{
    padding: 20px 0px 10px 0px;
}

footer ul li{
    color: #717881;
    text-align: center;
}
footer ul{
    list-style: none;
}

.platform-img-sm{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.platform-item{
    height: 100px;
}

.more-link{
    font-size: 14px;
    margin-right: 10px;
}

.text-gray{
    color: #888;

}
.platform-des{
    font-size: 12px;
    padding-top: 5px;
}

#invest-rec ul{
    list-style: none;
    padding-left: 0px;
}
.invest-plat{
    margin-left: 8px;
    font-size: 12px;
    color: #888888;
}

.invest-rate{
    margin-left: 8px;
    font-size: 12px;
    color: #f57a00;
}
.news-list em{
    display: block;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
   margin-right: 10px;
    font-style: normal;
}
.gray-mark{
    background: #e5e5e5;
    color: #666;
}

.key_mark{
    color: red;
}

#news-rec ul{
    list-style: none;
    padding-left: 0px;
}

#invest-filter-box ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;

}

#invest-filter-box{
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
}

.filter-box{
    border-bottom: 1px solid #369FD6;
    height: 40px;
    line-height: 40px;
}

#invest-filter-box ul li{
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

#invest-filter-box ul li a{
    color: #333333;
}

#invest-filter-box ul li.filter-active{
    background-color: #369FD6;
}

#invest-filter-box ul li.filter-active a{
    color: #ffffff;
}

#invest-block{
    border: 1px solid #e3e3e3;
}

#invest-block table{
    margin-bottom: 0px;
}


